<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./../component/header.ejs', {hotel : hotel}) %>

    <div class="main">
    <div class="left">
        <div class="form-overlay"></div>
        <div class="text">
            <h1>Welcome to <h1 class="hName">NP Royal Hotel</h1></h1>
            <p>Sign in to enjoy exclusive services and offers.</p>
        </div>
    </div>

    <form action="/customer/login" method="post" class="right">
        <h2>LogIn</h2>

        <div class="label">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter your email" required>
        </div>

        <div class="label">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>
        </div>

        <div class="btn-label">
            <div class="btn"><img src="https://clipground.com/images/google-logo-clipart-transparent.png" alt="">Sign In using Google</div>
            <div class="btn"><img class="img2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1280px-Facebook_Logo_%282019%29.png" alt="">Sign In using Facebook</div>
            
        </div>
        <input type="submit" value="Log In">
        <p class="signup-text">Don't have an account? <a href="signin">Sign In</a></p>
    </form>
</div>
</body>
</html>