<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/customer/login" method="post">
        <div class="label">
            <label>UserName</label>
            <input type="text" name="name" required>
        </div>

        <div class="label">
            <label>Phone No : </label>
            <input type="text" name="phone" required>
        </div>

        <div class="label">
            <label>Email : </label>
            <input type="email" name="email" required>
        </div>

        <div class="label">
            <label>password</label>
            <input type="password" name="password" required>
        </div>

        <input type="submit" value="submit">
    </form>
</body>
</html>