/* Home page style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #e0e5ec;
}
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vh;
}
nav{
    display: flex;
    gap: 10px;
}
nav a{
    text-decoration: none;
    color: #000;
}
.cName{
    font-size: 1.75rem;
}
.img{
    height: 70vh;
    width: 90%;
    border-radius: 20px;
    background-color: black;
    position: relative;
    left: 50%;
    top : 1vh;
    transform: translateX(-50%);
    background-image: url("https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?q=80&w=1980&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.2);
}
.info{
    height: 25vh;
    width: 80%;
    border-radius: 20px;
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255, 255, 255, 0.7));
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    backdrop-filter: blur(7px);
    position: absolute;
    bottom: -10vh;
    left: 50%;
    transform:  translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.infoSection{
    height: 70%;
    width: 33%;
}
.infoSection:nth-child(2) {border-left: 2px solid rgba(0,0,0,0.4); border-right: 2px solid rgba(0,0,0,0.4);}

/* Main Container */
.main {
    height: 60vh;
    width: 70vw;
    display: flex;
    border-radius: 20px;
    overflow: hidden;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    box-shadow:
        15px 15px 20px rgba(0,0,0,0.2),
        -15px -15px 20px rgba(255, 255, 255, 1);
}

.left {
    width: 45%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1582719508461-905c673771fd?w=1920&auto=format&fit=crop&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.form-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.3);
}
.left .text{
    position: absolute;
    top: 10vh;
    padding: 10px;
    z-index: 10;
    color: #fff;
}
.hName{
    font-size: 3rem;
    margin-bottom: 20px;
}
.right {
    width: 55%;
    height: 100%;
    background: #e0e5ec;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .label{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.rigth label{
    width: 17%;
}
.right input{
    width: 83%;
    padding: 12px;
    box-shadow: 
        inset 10px 10px 10px #babecc,
        inset -10px -10px 10px #fff;
    border: none;
    background: #e0e5ec;
    outline: none;
    border-radius: 10px;
}
.right input[type="submit"] {
    width: 30%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 7px;
    background: #e0e5ec;
    cursor: pointer;

    box-shadow:
        5px 5px 10px #babecc,
        -5px -5px 10px #ffffff;

    transition: 0.2s;
}
.right input[type="submit"]:active {
    box-shadow:
        inset 5px 5px 10px #babecc,
        inset -5px -5px 10px #ffffff;
}
