<header>
        <h1 class="cName">NP Royal Hotel</h1>

        <nav>
            <a href="/">Home</a>
            <a href="">Contact us</a>
            <a href="signin">Sign In</a>
            <a href="login">log In</a>
        </nav>
    </header>