<header>
        <h1 class="cName"><%= hotel.name %></h1>

        <nav>
            <a href="/">Home</a>
            <a href="room">Rooms</a>
            <a href="signin">Sign In</a>
            <a href="login">log In</a>
        </nav>
    </header>